<div class="well well-small">
  <h4>All Categories</h4>
  <div class="table-responsive" id="category-table">

    <table id="mytable" class="table table-bordred table-striped">

      <thead>


      <th>Category Name</th>
      <th>Category Description</th>
      <th>Sub Category</th>
      <th>Edit</th>
      <th>Delete</th>
      </thead>

      <tbody>
      <% @categories.each do |category| %>

      <%= render 'table_row', category: category %>

      <% end %>
      </tbody>

    </table>

  </div>

  <div class="control-group">
    <div class="controls">
      <%= link_to 'Add Category', new_category_path, class: "shopBtn exclusive", remote: true %>

      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content"></div>
        </div>
      </div>
      <%= link_to 'Add Sub Category', new_category_path(is_subcategory: true), class: "shopBtn exclusive", remote:true %>
    </div>
  </div>

</div>